.textbox {
    border: 1px solid #333; 
    padding: 50px;
    width: 70%;
    height: 30%;
    background-color: #1e1d1d;
    color: #ffffff; /* text color */
    border-radius: 10px; /* rounds off corners */
    font-size: 24px;
    font-family: sans-serif;

    position: relative;
    /* position of the text box */
    margin-top: 20px; /* Puts it 20 pixels under the image */
    left: 50%;
    transform: translate(-50%);
}

.chess-com-icon-container {
    border: 1px solid #333; 
    padding: 20px;
    width: 120px;
    height: 120px; 
    background-color: #1e1d1d;
    border-radius: 10px; /* rounds off corners */

    position: absolute;
    /* position of the container */
    left: 30%;
    transform: translate(-50%, 0%);
    margin-top: 20px; /* places it 20px under the text box on page 5 */

    /* Puts the icon in the center of the container (along both axes)*/
    display: flex;
    justify-content: center; 
    align-items: center;
}

.lichess-org-icon-container {
    border: 1px solid #333; 
    padding: 20px;
    width: 120px;
    height: 120px; 
    background-color: #1e1d1d;
    border-radius: 10px; /* rounds off corners */

    position: relative;
    /* position of the container */
    left: 70%;
    transform: translate(-50%, 0%);
    margin-top: 20px; /* places it 20px under the text box on page 5 */

    /* Puts the icon in the center of the container (along both axes)*/
    display: flex;
    justify-content: center; 
    align-items: center;
}

body {
    background-color: #2d2d2d; /* background of the page */
}

.page-content-container {
    background-color: #2d2d2d; /* background color of the page */
}

/* This refers to the image on the top of each page under the page switch buttons. */
img {
    width: 100%;
    position: relative;
}

.page-title {
    position: relative;
    top: 0px;

    /* Styles the semi-transparent background behind the text */
    opacity: 0.7;
    background-color: #ffffff;
    width: 100%;

    color: #000000; /* text color */
    font-size: 48px;
    font-family: sans-serif;
    text-align: center; /* Centers text horizontally */
}

.chess-website-icon {
    width: 80%;
    height: 80%;
}

.chess-piece-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    /* specific pixel positions depend on the id of the icon element */
}

.top-frame {
    /* Puts the buttons in the center of the frame (along both axes)*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;

    height: 30px;
    background-color: #1e1d1d;
    position: relative; /* Sets this element as a reference point for placing other elements */
    width: 100%;
}

.bottom-button-frame {
    background-color: #2d2d2d;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 100%;

    /* Puts the buttons in the center of the frame */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-right: 5%; /* distance between buttons.*/
    width: 110px; /* button width */
    padding: 4px 16px; /* padding: y, x */
    font-size: 16px;
    cursor: pointer; /* Makes the cursor change to the hand icon when hovering over the button */
    background-color: #0CA789;
    color: #000000; /* text color */
    text-align: center; /* centers the text */
    border: none;
    border-radius: 4px; /* rounds off corners */
    text-decoration: none; /* removes underline from link */
}

.button:hover {
    background-color: #45a049; /* changes color when u hover over the button */
}

.button-grey {
    margin-right: 5%; /* distance between buttons. Set to 5% to support mobile */
    width: 110px; /* button width */
    padding: 4px 16px; /* padding: y, x */
    font-size: 16px;
    cursor: pointer; /* Makes the cursor change to the hand icon when hovering over the button */
    background-color: #808080;
    color: #000000; /* text color */
    text-align: center; /* centers the text */
    border: none;
    border-radius: 4px; /* rounds off corners */
    text-decoration: none; /* removes underline from link */
}

.button-grey:hover {
    background-color: #bab9b9; /* changes color when u hover over the button */
}

/* Media queries to fit the buttons and button frames on smaller screens. */
@media screen and (max-width: 800px) {
    .button {
        width: 20%;
        font-size: 12px;
    }
    .button-grey {
        width: 20%;
        font-size: 12px;
    }
    .top-frame {
        height: 50px;
    }
}
@media screen and (min-width: 801px) {
    .button {
        width: 82px;
        font-size: 14px;
    }
    .button-grey {
        width: 82px;
        font-size: 14px;
    }
}
@media screen and (min-width: 1050px) {
    .button {
        width: 120px;
    }
    .button-grey {
        width: 120px;
        font-size: 14px;
    }
}

@media screen and (max-width: 410px) {
    .top-frame {
        height: 75px;
    }
}

/* Media queries to fit the page title on smaller screens. */
@media screen and (max-width: 800px) {
    .page-title {
        font-size: 36px;
    }
}
@media screen and (max-width: 600px) {
    .page-title {
        font-size: 24px;
    }
}

/* Media queries to fit the chess website icons on smaller screens. */
@media screen and (min-width: 800px) {
    .chess-com-icon-container {
        width: 200px;
        height: 200px; 
    }
    .lichess-org-icon-container {
        width: 200px;
        height: 200px; 
    }
}

@media screen and (min-width: 1200px) {
    .chess-com-icon-container {
        width: 300px;
        height: 300px; 
    }
    .lichess-org-icon-container {
        width: 300px;
        height: 300px; 
    }
}