.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #da1710;
    padding: 2rem;
}

.welcome h1 {
    color: white;
}

.forest__main {
    display: flex;
    background-color: white;
}

.main__border {
    border-left: 6px solid black;
    height: 200px;
    left: 50%;
}

.account {
    display:
}

.account h1 {
    background-color: #2A2E42;
}

.progressbar {
    text-align: center;
}

.progress__saving {
    width: 100%;
    height: 3rem;
    accent-color: green;
    background-image: green;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }


/* board section */

.move-marker {
    background-color: #000000;
    border-radius: 50%; /* Turns it into a circle */
    opacity: 0.6;
    z-index: 1;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    position: absolute;
}

/* Right of page */
.forest__leaderboard {
    display: flex;
}

.leaderboard h1 {
    width: 100%;
}

.leaderboard__item {
    height: 50%;
    background-color: lightgreen;
}